.todo-container {
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  background-color: aquamarine;
  border-radius: 5px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 30px;
  background-color: orange;
  cursor: pointer;
}

.completed {
  font-size: 12px;
  background-color: lightgreen;
}