<div class="header mx-container">
    <h1>Welcome to {{title}}</h1>
    <button (click)="addTodo()" class="add-btn">Add todo</button>
</div>

<div class="todos-container mx-container">
  <ng-container *ngIf="todos.length > 0; else noTodos">
    <div class="todo" *ngFor="let item of todos; let i=index">
      <app-todo-card
        [title]="item.title"
        [description]="item.description"
        [completed]="item.completed"
        (update)="updateTodo($event, i)"
      ></app-todo-card>
    </div>
  </ng-container>
  <ng-template #noTodos>
    No todos present!
  </ng-template>
</div>